# Singita Ngobeni on crime Stats

In [32]:
# lets importb 
import pandas as pd
import matplotlib.pyplot as plt

In [33]:
crime = pd.read_csv('VOCS2016-2017-HOUSEHOLD_F1.csv')

crime

,uqno,prov,Q21topiccrime,Q21bHowLong,Q2211Murder,Q2212StrRob,Q2213HomeRob,Q2214BussRob,Q2215Hijack,Q2216Assault,...,Q2012Who,Q2013Recovered,Q2014Secure,Q2015Measures,Q2015Awareness,Q2015Gun,Q2015Weapon,Q2015Other,metro_code,Unnamed: 674
0,160100720000002601,1,2,3,2,2,2,2,2,1,...,9,9,9,9,9,9,9,9,1,NaN
1,160100720000006301,1,2,2,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
2,160100720000010001,1,2,1,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
3,160101220000003001,1,2,3,2,2,2,2,2,1,...,9,9,9,9,9,9,9,9,1,NaN
4,160101220000006301,1,2,3,2,2,2,2,2,1,...,9,9,9,9,9,9,9,9,1,NaN
5,160101220000009601,1,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
6,160101220000016201,1,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
7,160101430000000901,1,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
8,160101430000003201,1,1,3,2,2,2,2,2,1,...,9,9,9,9,9,9,9,9,1,NaN
9,160101430000005501,1,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
10,160101430000007801,1,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
11,160101430000010101,1,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
12,160101430000012401,1,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
13,161100240000023401,1,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
14,161100240000032901,1,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
15,161100240000061401,1,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
16,161100350000006701,1,2,3,2,2,2,2,2,1,...,9,9,9,9,9,9,9,9,1,NaN
17,161100350000009701,1,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
18,161100520000003001,1,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
19,161100520000016401,1,2,3,2,2,2,2,2,1,...,9,9,9,9,9,9,9,9,1,NaN
20,161100520000023101,1,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
21,162100240000004801,1,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
22,162100240000011601,1,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
23,162100240000016701,1,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
24,162100360000002101,1,2,3,2,2,2,2,2,1,...,9,9,9,9,9,9,9,9,1,NaN
25,162100360000003401,1,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
26,162100360000004701,1,2,3,2,2,2,2,2,1,...,9,9,9,9,9,9,9,9,1,NaN
27,162100360000006001,1,2,3,1,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
28,162100360000007301,1,1,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,1,NaN
29,162100360000008601,1,2,3,2,2,2,2,2,1,...,9,9,9,9,9,9,9,9,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21065,987105300000027101,9,1,3,2,2,1,1,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21066,987105300000033701,9,1,3,2,1,1,1,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21067,987105430000001101,9,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21068,987105430000002801,9,1,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21069,987105430000006201,9,2,2,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21070,987105430000007901,9,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21071,987105430000011301,9,1,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21072,987105430000013001,9,1,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21073,987105430000013002,9,1,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21074,987105430000013003,9,2,1,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21075,987105430000013004,9,1,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21076,987105430000013005,9,2,1,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21077,987105430000014701,9,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21078,987105530000001701,9,1,3,2,2,2,1,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21079,987105530000003501,9,1,3,2,2,2,1,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21080,987105530000005301,9,1,3,2,2,1,1,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21081,987105530000007101,9,1,3,2,2,2,1,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21082,987105530000008901,9,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21083,987105530000010701,9,1,3,2,2,1,1,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21084,987105530000012501,9,1,3,2,2,2,1,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21085,987105530000014301,9,1,3,2,1,1,1,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21086,987105530000016101,9,1,3,2,2,2,1,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21087,987105530000017901,9,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21088,987106510000001501,9,1,3,2,2,1,2,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21089,987106510000003001,9,1,3,2,2,2,1,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21090,987106510000004501,9,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21091,987106510000009001,9,2,3,1,2,2,1,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21092,987106510000012001,9,2,3,2,2,2,1,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21093,987106510000013501,9,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,17,NaN
21094,987106510000016501,9,2,3,2,2,2,1,2,2,...,9,9,9,9,9,9,9,9,17,NaN

# now lets just show the Gauteng stats

In [34]:
gauteng = crime[crime.prov == 7]
gauteng

,uqno,prov,Q21topiccrime,Q21bHowLong,Q2211Murder,Q2212StrRob,Q2213HomeRob,Q2214BussRob,Q2215Hijack,Q2216Assault,...,Q2012Who,Q2013Recovered,Q2014Secure,Q2015Measures,Q2015Awareness,Q2015Gun,Q2015Weapon,Q2015Other,metro_code,Unnamed: 674
11815,760100820000001001,7,1,3,1,1,2,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11816,760100820000004101,7,1,2,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11817,760100820000007201,7,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11818,760100820000010301,7,1,3,2,1,2,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11819,760100820000013401,7,1,3,2,2,1,1,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11820,760100820000016501,7,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11821,760100820000022701,7,1,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11822,760100820000025801,7,1,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11823,760100830000001301,7,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11824,760100830000002901,7,2,1,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11825,760100830000004501,7,1,3,2,1,1,1,2,1,...,9,9,9,9,9,9,9,9,12,NaN
11826,760100830000006101,7,2,1,2,2,2,2,2,1,...,9,9,9,9,9,9,9,9,12,NaN
11827,760100830000007701,7,2,3,2,1,2,2,2,1,...,9,9,9,9,9,9,9,9,12,NaN
11828,760100830000009301,7,1,1,1,1,1,1,1,1,...,9,9,9,9,9,9,9,9,12,NaN
11829,760100830000010901,7,2,1,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11830,760100830000012501,7,2,2,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11831,760100840000001501,7,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11832,760100840000003101,7,2,2,2,2,2,2,1,1,...,9,9,9,9,9,9,9,9,12,NaN
11833,760100840000007901,7,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11834,760100840000009501,7,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11835,760100840000011101,7,2,1,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11836,760100840000012701,7,1,3,2,1,2,1,1,1,...,9,9,9,9,9,9,9,9,12,NaN
11837,760101320000001101,7,2,1,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11838,760101320000003001,7,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11839,760101320000004901,7,1,3,2,2,2,1,2,1,...,9,9,9,9,9,9,9,9,12,NaN
11840,760101320000006801,7,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11841,760101320000010601,7,2,3,2,2,2,2,1,1,...,9,9,9,9,9,9,9,9,12,NaN
11842,760101320000012501,7,1,3,2,2,1,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11843,760101320000014401,7,2,3,2,1,2,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
11844,760101320000016301,7,2,3,2,2,1,2,2,2,...,9,9,9,9,9,9,9,9,12,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17028,799151490000001001,7,1,3,1,1,1,1,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17029,799151490000002401,7,2,3,1,1,1,1,1,2,...,9,9,9,9,9,9,9,9,15,NaN
17030,799151490000003801,7,2,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17031,799151490000005201,7,2,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17032,799151490000006601,7,2,3,1,1,1,2,1,1,...,9,9,9,9,9,9,9,9,15,NaN
17033,799151490000008001,7,2,3,1,1,1,1,1,1,...,9,9,9,9,9,9,9,9,15,NaN
17034,799151490000009401,7,1,3,2,1,1,1,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17035,799151490000010801,7,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17036,799151490000012201,7,2,3,2,1,2,1,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17037,799151490000013601,7,1,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17038,799151490000015001,7,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17039,799151490000016401,7,1,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17040,799152200000001001,7,2,3,1,1,1,1,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17041,799152200000002801,7,1,3,2,1,1,1,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17042,799152200000004601,7,2,3,1,2,1,1,2,1,...,9,9,9,9,9,9,9,9,15,NaN
17043,799152200000006401,7,1,2,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17044,799152200000010001,7,2,3,1,1,1,1,2,1,...,9,9,9,9,9,9,9,9,15,NaN
17045,799152200000011801,7,2,3,2,1,2,2,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17046,799152200000013601,7,2,3,1,1,1,2,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17047,799152200000017201,7,2,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17048,799152300000001301,7,2,3,2,2,1,2,1,2,...,9,9,9,9,9,9,9,9,15,NaN
17049,799152300000004101,7,1,3,2,1,1,1,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17050,799152300000005501,7,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17051,799152300000006901,7,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17052,799152300000008301,7,2,1,2,1,1,1,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17053,799152300000009701,7,2,3,1,1,1,1,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17054,799152300000011101,7,2,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17055,799152300000012501,7,2,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17056,799152300000013901,7,2,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,15,NaN
17057,799152300000015301,7,1,2,2,1,1,1,1,2,...,9,9,9,9,9,9,9,9,15,NaN

In [43]:
# code_12 = crime[crime.metro_code==12]

def ct_metro(mCode):
    return gauteng[gauteng.metro_code==mCode]

ct_metro(10)

,uqno,prov,Q21topiccrime,Q21bHowLong,Q2211Murder,Q2212StrRob,Q2213HomeRob,Q2214BussRob,Q2215Hijack,Q2216Assault,...,Q2012Who,Q2013Recovered,Q2014Secure,Q2015Measures,Q2015Awareness,Q2015Gun,Q2015Weapon,Q2015Other,metro_code,Unnamed: 674
9132,599100180000000801,5,2,3,2,1,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9133,599100180000003201,5,2,3,2,1,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9134,599100180000005601,5,2,3,1,1,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9135,599100180000008001,5,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9136,599100180000010401,5,1,3,2,1,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9137,599100180000012801,5,2,3,2,1,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9138,599100300000007701,5,1,3,2,2,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9139,599100300000013301,5,2,3,2,1,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9140,599100300000016101,5,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9141,599100300000018901,5,2,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9142,599100430000000901,5,2,2,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9143,599100430000002901,5,2,2,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9144,599100430000006901,5,2,1,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9145,599100430000008901,5,2,3,2,2,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9146,599100430000012901,5,2,3,2,1,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9147,599100590000000401,5,2,3,2,1,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9148,599100590000007401,5,2,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9149,599100590000010901,5,2,9,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9150,599100590000014401,5,2,3,2,2,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9151,599100590000021401,5,2,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9152,599100590000028401,5,2,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9153,599100590000031901,5,2,3,2,2,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9154,599100840000003401,5,2,2,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9155,599100840000007001,5,2,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9156,599100840000008801,5,2,1,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9157,599100840000012401,5,2,1,2,1,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9158,599100840000014201,5,2,2,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9159,599100840000016001,5,2,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9160,599102090000001301,5,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
9161,599102090000004401,5,2,3,2,1,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10330,599155130000004201,5,1,3,2,1,2,2,1,2,...,9,9,9,9,9,9,9,9,10,NaN
10331,599155130000006301,5,1,3,2,1,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10332,599155130000008401,5,1,3,2,1,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10333,599155130000010501,5,1,3,2,1,1,2,1,2,...,9,9,9,9,9,9,9,9,10,NaN
10334,599155130000012601,5,1,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10335,599155430000002401,5,1,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10336,599155430000005701,5,2,3,1,2,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10337,599155430000012301,5,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10338,599155430000015601,5,2,3,1,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10339,599155430000018901,5,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10340,599155430000022201,5,1,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10341,599155830000002201,5,1,3,2,1,1,1,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10342,599155830000007001,5,2,2,2,2,2,2,1,2,...,9,9,9,9,9,9,9,9,10,NaN
10343,599155830000009401,5,1,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10344,599155830000011801,5,1,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10345,599155830000014201,5,2,3,2,2,1,2,2,1,...,9,9,9,9,9,9,9,9,10,NaN
10346,599155830000016601,5,1,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10347,599155830000019001,5,1,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10348,599155880080000101,5,1,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10349,599155880080000301,5,1,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10350,599155880080000701,5,1,3,2,1,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10351,599155880080000901,5,1,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10352,599155880080001101,5,1,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10353,599155880080001701,5,1,3,2,1,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10354,599155880080001901,5,1,3,2,1,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10355,599155880080002101,5,1,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10356,599155880080002301,5,1,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10357,599210690000011701,5,2,3,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10358,599210690000026501,5,2,3,2,1,1,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN
10359,599210690000056101,5,2,2,2,2,2,2,2,2,...,9,9,9,9,9,9,9,9,10,NaN

# lets create a list from the types of crimes

In [29]:
# lets create a list off the crime stats table

typ_crime = ['Q2211Murder', 'Q2212StrRob', 'Q2213HomeRob', 'Q2213HomeRob', 'Q2214BussRob',
             'Q2215Hijack', 'Q2216Assault', 'Q2217SexAssult', 'Q2218ChildAbuse','Q2219Political', 'Q22110Vigilante',
             'Q22111BagSnatch','Q22112Bicycle','Q22113Car','Q22114Burglary', 'Q22115Crop','Q22116Livestock',
             'Q22117WhiteColl','Q22118damage','Q22119IDtheft','Q22120HumanTr','Q22122HateCrim','Q22123Other']

# lets align the labels together with the typ_crime

crime_labels = ['Murder','street robberies','Home Robberies','bus robberies','Hijacking','Assault','Sex Assult','Child Abuse','Political','Vigilante',
               'Bagsnatching','Bicycle','Car','Burglary','Crop','Livestock','White Collar Crime','Damage','Theft','Human Trafficking','Hate Crime','Other']